.wrapper {
  display: flex;
}

.statusColorDotWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusColorDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aquamarine;
}